.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content {
  width: 50vw;
  height: 60vh;
}

.textPage {
  text-align: left;
  text-indent: 1.5em;
  margin-bottom: 32px;
}
